:root {
  --color-dark: #2e2f42;
  --color-pressed-states: #404bbf;
  --color-text: #434455;
  --color-primary-brand: #4d5ae5;
  --color-white-background: #ffffff;
  --color-light: #f4f4fd;
  --color-accent: #e7e9fc;
  --color-subtle-text: #8e8f99;
  --color-modal-overlay: #2e2f4266;
  --color-hero-background: #2e2f42;
  --color-modal-background: #fcfcfc;
  --color-success: #31d0aa;
}

body {
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white-background);
  margin: 0;
}

.hero-title {
  color: var(--color-white-background);
  text-align: center;
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.link-logo {
  color: var(--color-primary-brand);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-part {
  color: var(--color-dark);
}

.logo-part-footer {
  color: var(--color-light);
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--color-dark);
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-pressed-states);
}

.link:hover,
.link:focus {
  color: var(--color-pressed-states);
}

/* .link-active {
  color: var(--color-pressed-states);
} */

.address-links {
  font-style: normal;
}

.button {
  cursor: pointer;
  color: var(--color-primary-brand);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.active-button {
  border: 1px solid var(--color-accent);
  cursor: pointer;
  color: var(--color-white-background);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-primary-brand);
}

.button:hover,
.button:focus {
  color: var(--color-white-background);
  background-color: var(--color-pressed-states);
}

.button:active {
  background-color: var(--color-pressed-states);
}

.list {
  list-style-type: none;
}

.card-text {
  color: var(--color-dark);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-card {
  background-color: var(--color-white-background);
}

.text {
  color: var(--color-text);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-footer {
  color: var(--color-light);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-title {
  color: var(--color-dark);
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-bg {
  background-color: var(--color-white-background);
}

.section-bg-grey {
  background-color: var(--color-light);
}

.bg-hero {
  background-color: var(--color-hero-background);
}

.bg-footer {
  background-color: var(--color-dark);
}
